Required packages:
    requests
    numpy
    osgeo (gdal gdalconst)
    click
    #PIL (sin uso por el momento)
    #cv2 (opencv-python) (sin uso por el momento)
    #urllib3(sin uso por el momento)

Python imports:
    os
    sys
    time
    datetime
    setuptools
    getpass
    configparser
    pathlib
    json
